<%# id = @uploaded.id + 1 %>
<%#= form_for @upload, :html => { :class => id } do |u| %>
<%= form_for (@upload) do |u| %>
	<% if flash[:notice] %>
	<div class="error shown" id="submitted-error">
		<span aria-hidden="true" data-icon="e"></span>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<%= field_set_tag do %>
		<div id="error" class="error">
			<span aria-hidden="true" data-icon="e"></span>
			Please choose a file y&rsquo;all.
		</div>
		<div id="error-file" class="error">
			<span aria-hidden="true" data-icon="e"></span>
			Please load a valid image: JPG, JPEG, PNG, TIFF or GIF.
		</div>
		<label for="upload_image" id="upload_image_choose" class="upload_image_choose">
			<span class="submit">
				<span id="texttt">Choose an image to resize</span>
			</span>
			<%= u.file_field :image, :accept => 'image/*' %>
			<div id="path" class="path"></div>
		</label>
		<small id="details">Easily resize &amp; optimize any image</small>
	<% end %>
	<div id="error-vals" class="error">
		<span aria-hidden="true" data-icon="e"></span>
		If you don&rsquo;t pick a height or width, you&rsquo;ll get the same image back.
	</div>
	<fieldset class="numnums">
		<%= label_tag :upload_max_width, 'Choose a max width or height:' %>
		<div class="wrap input link">
			<%= u.text_field :max_width, :class => 'nums' %>
			<%= u.text_field :max_height, :class => 'nums' %>
			<span class="text width">Enter a max width</span>
			<span class="text height">or a max height</span>
		</div>
	</fieldset>
	<!--<fieldset class="numnums">
		<%#= label_tag :upload_max_height, 'Or, choose a max height:' %>
		<div class="wrap input"><%#= u.text_field :max_height, :class => 'nums' %></div>
	</fieldset>-->
	<fieldset class="numnums">
		<div class="wrap submit" id="submit-wrap"><%= u.submit 'Groovy. Now resize me!', :class => 'disabled' %></div>
		<!--<div class="load wrap submit" id="load">
			<img src="/assets/load.gif" />
		</div>-->
	</fieldset>
<% end %>
<div class="m-details">
	<h1>Aww, phoo&hellip;</h1>
	<p>It seems you&rsquo;re using a <strong>mobile browser</strong> and we&rsquo;re still working the kinks out with that. Maybe come back and see us on just about any desktop browser?</p>
	<p><strong>Lots of ❤, resiz.io</strong></p>
</div>