<%
max_width = @upload.max_width
max_height = @upload.max_height
image_path = @upload.image.path("#{max_width}x#{max_height}")
uploaded_on = @upload.created_at.to_datetime
now_date = Time.now
time_dif = distance_of_time_in_words(now_date - uploaded_on).gsub('about ','').split(' ')
time_diff_nums = time_dif[0].to_i
time_diff_text = time_dif[1]
%>

<%#= time_dif %>
<%#= time_diff_nums %>
<%#= time_diff_text %>

<% if time_diff_nums > 30 && time_diff_text == 'minutes' %>
<div id="result" class="erroneous">
	<h1>D&rsquo;oh; we deleted that photo!</h1>
	<p>In order to save precious bytes for other peeps, <strong>we had to derezz that file.</strong></p>
	<div class="wrap link"><%= link_to "Resize another?", "/" %></div>
</div>
<% elsif time_diff_text == 'days' || time_diff_text == 'hours'  || time_diff_text == 'hour' %>
<div id="result" class="erroneous">
	<h1>D&rsquo;oh; we deleted that photo!</h1>
	<p>In order to save precious bytes for other peeps, <strong>we had to derezz that file.</strong></p>
	<div class="wrap link"><%= link_to "Resize another?", "/" %></div>
</div>
<% else %>
<div id="result" class="erroneous <% if @upload.max_width.to_i > 300 || @upload.max_height.to_i > 500 %>not<% end %>">
	<figure>
		<%= image_tag @upload.dynamic_attachment_url("#{max_width}x#{max_height}") %>
		<figcaption>
			<span>
			<% if @upload.max_width && @upload.max_height %>
			<%= @upload.max_width %> pixels wide by <%= @upload.max_height %> pixels tall
			<% elsif @upload.max_height %>
			Max height: <%= @upload.max_height %> pixels tall
			<% else %>
			Max width: <%= @upload.max_width %> pixels wide
			<% end %>
			</span>
			<br>
			Original file size: <%= @upload.bytesToKb(@upload.image_file_size) %>kb, new file size: <%= @upload.resize_image(@upload.image.path("#{max_width}x#{max_height}")) %>kb
		</figcaption>
	</figure>
	<p>If this looks good, go head and use it. If you need to save it, just <code>right click</code> and choose <code>Save Image As&hellip;</code>. <strong>Note: this image will not be saved,</strong> so please download it now, or forever hold your peace.</p>
	<div class="wrap link"><%= link_to "Resize another?", "/" %></div>
</div>
<!--<script>
$(function(){
	var img = $(img);
	var height = $('#height');
	var width = $('#width');
	var img_height = img.height();
	var img_width = img.width();
	height.text(img_height);
	width.text(img_width);
});
</script>-->
<% end %>