<%
max_width = @upload.max_width
max_height = @upload.max_height
image_path = @upload.image.path("#{max_width}x#{max_height}")
%>
<div id="result">
	<figure>
		<%= image_tag @upload.dynamic_attachment_url("#{max_width}x#{max_height}") %>
		<figcaption>
			<% if @upload.max_width && @upload.max_height %>
			<span id="width"></span> pixels wide by <span id="height"></span> pixels tall
			<% elsif @upload.max_height %>
			Max height: <%= @upload.max_height %> pixels tall
			<% else %>
			Max width: <%= @upload.max_width %> pixels wide
			<% end %>
		</figcaption>
	</figure>
	<p>Original file size: <%= @upload.bytesToKb(@upload.image_file_size) %>kb, <strong>new file size: <%= @upload.resize_image(@upload.image.path("#{max_width}x#{max_height}")) %>kb</strong></p>
	<p>If this looks good, go head and use it. If you need to save it, just <code>right click</code> and choose <code>Save Image As&hellip;</code>. <strong>Note: this image will not be saved, so please download it now, or forever hold your peace.</strong></p>
	<div class="wrap link"><%= link_to "Resize another?", "/" %></div>
</div>
<script>
$(function(){
	var img = $(img);
	var height = $('#height');
	var width = $('#width');
	var img_height = img.height();
	var img_width = img.width();
	height.text(img_height);
	width.text(img_width);
});
</script>